audio {
    width: 100%;
}
table{
    display: block;
    table-layout: fixed;
    white-space: nowrap;
    overflow-x: auto;
    margin: 0 auto;
    /* width: 100%; */
    width: 1000px;
    
    -webkit-overflow-scrolling: touch;
}

img {
    max-width: 100%;
    height: auto;
    margin: auto;
    padding-bottom: 20px;
    padding-top: 20px;
  }

.td_fixed {
    /* width: 100%; */
    width: 200px;
    vertical-align: middle;
    text-align: center;
    position: sticky;
    top: 0;
    left: 0;
    color: #ffffff;
    background: rgb(61, 60, 60);
    z-index: 1;
    border: none;
  }

.td_black {
  vertical-align: middle;
  text-align: center;
  position: sticky;
  top: 0;
  left: 0;
  color: #ffffff;
  background: rgb(61, 60, 60);
  z-index: 1;
}
.td_fixed_grey {
    /* width: 100%; */
    width: 200px;
    vertical-align: middle;
    text-align: center;
    position: sticky;
    top: 0;
    left: 0;
    color: #000000;
    background: rgb(184, 184, 184);
    z-index: 1;
  }
.td_grey {
  vertical-align: middle;
  text-align: center;
  position: sticky;
  top: 0;
  left: 0;
  color: #000000;
  background: rgb(184, 184, 184);
  z-index: 1;
}

.td_fixed_white {
  /* width: 100%; */
  width: 200px;
  vertical-align: middle;
  text-align: center;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
}
/* .td_fixed:before {
    content: "";
    position: absolute;
    top: 0px;
    left: -1px;
    width: 100%;
    height: 100%;
    border: 1px solid #ccc;
} */

 th,td{
    width: 300px;
    height: 90px;
    vertical-align: middle;
    text-align: center;
    padding: 0 15px;
    border: 1px solid #ccc;
  }

